.services {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.service {
  margin-bottom: 30px;
  text-align: center; /* Center text horizontally */
}

.service h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
